$standard_font_family: Oxygen, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$bold_weight: 700;
$normal_weight: 400;
$light_weight: 300;

$standard_font: $normal_weight normal 15px/24px $standard_font_family;
