@import "colors";
@import "mixins";

/************************************************/
/* Page look & feel                             */
/************************************************/

/* set root font size */

html { font-size: 100%; }

/* set bg colors */

body {

  background-color: $white;
  height:100%;

}

#wrapper {

  min-height:100%;
  position:relative;

}

/* default link colors */

a { color: $green-dark; }

a:hover {

  color: $green-dark;
  text-decoration: underline;

}

/* replace foundation default font-family */

.accordion .accordion-navigation > a,
.accordion dd > a,
.button,
.label,
.pricing-table .price,
.pricing-table .title,
.side-nav,
.side-nav li.active > a:first-child:not(.button),
.sub-nav li,
.tabs .tab-title > a ,
.tabs dd > a,
.top-bar-section,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
select,
html {
  font-family: Oxygen, sans-serif;
}

/* automatic round form elements */

select, input, button, textarea, a.button { @include border-radius(3px); }

/* replace foundation default button color & :hover */

button, a.button {

  background-color: $purple-dark;
  @include transition(opacity 120ms);

}

button:hover, a.button:hover {

  @include opacity(.9);
  @include transition(opacity 120ms);
  background-color: $purple-dark;
  i { color: $green-dark; }

}

/************************************************/
/* Navbar                                       */
/************************************************/

nav {

  @include box-shadow($black);
  background-color: $purple-dark;
  height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  div > ul {

    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    .lang {

      ul {

        margin: 0;
        display: none;
        border: 1px solid rgb(112, 85, 120);
        border-top-width: 0;
        z-index: 1;
        @include border-radius-bottom(3px);

        li {

          float: none;
          margin: 0;
          padding: 0;
          border: 0;

        }

      }

    }

  }

}


/************************************************/
/* Main content area                            */
/************************************************/

main {

  background-color: $white;
  margin-top: 3em;
  min-height: 100%;
  padding: 1rem 0

}

/************************************************/
/* Home                                         */
/************************************************/

.home {

  padding: 3em 0;
  h2 { margin: auto 0; }
  button[type=submit] { margin-top: 16px; }

}

#query, #location { margin-bottom: 0; }

/************************************************/
/* Results                                      */
/************************************************/

h1.result { margin: 3rem 0 0 0; }

div.result,
form.result {

  background-color: $gray-light;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1em 0 0 0;
  @include border-radius(3px);

}

div.result > div:first-child {

  background: no-repeat center center;
  padding: 0;
  @include bg-cover;
  @include border-radius(3px);

}

/************************************************/
/* Footer                                       */
/************************************************/

footer {

  @include box-shadow($black);
  background-color: $green-dark;
  bottom: 0;
  padding: 2em 0;
  position: absolute;
  width: 100%;

  ul {

    margin: 0 0 1em 0;
    padding: 0;
    list-style-type: none;

  }

}
