@import "colors";
@import "mixins";

/************************************************/
/* Navbar                                       */
/************************************************/

nav {

  h1 {

    display: inline;

    a {

      display: block;
      background: transparent url('/static/imgs/findaconf_navbar.png') no-repeat top left;
      height: 32px;
      margin-top: 8px;
      text-indent: -9999px;
      width: 189px;

    }
  
  }

  div > ul {

    li {

      border-left: 1px solid $white-layer-2;
      float: left;
      margin: 0;
      padding: 0;
      @include transition(background-color 400ms);

      a {

        color: $white-layer-4;
        display: block;
        font-size: inherit;
        font-weight: normal;
        vertical-align: middle;
        line-height: 3em;
        padding: 0 1em;
        @include transition(color 600ms);

      }

    }

    li:last-child { border-right: 1px solid $white-layer-2; }
    
    .login {

      img {
        
        @include border-radius(50%);
        margin-right: .4em;
        width: 2em;
  
    }
    
  }

    .lang {

      a {

        font-size: .6em;
        line-height: 5em;

      }
      
      ul {
        
        background-color: $purple-dark;
        list-style: none;
        position: absolute;
        width: auto;

        li {

          background-color: $white-layer-1;

          a {

            color: $white-layer-4;
            font-size: .8em;
            line-height: 2.4em;

            span {

              display: inline-block;
              text-transform: uppercase;
              width: 2em;

            }

          }

        }

        li:first-child a { padding-top: .3em; }
        li:last-child a { padding-bottom: .3em; }

      }

    }

  }

}

/************************************************/
/* Search                                       */
/************************************************/

form button i {

  font-size: 1.4em;
  padding-left: .3em;
  position: relative;
  top: 1px;

}

/************************************************/
/* Autocompleter                                */
/************************************************/

.autocompleter {

  background: $white;
  border: 1px solid $gray-medium;
  left: 15px;
  right: 15px;
  width: auto;
  z-index: 2;
  @include border-radius(3px);
  @include box-shadow($black);

}

.autocompleter-item {

  font-size: .875rem;
  line-height: 1.8em;
  padding: 0 .5rem;

}

/************************************************/
/* Page titles                                  */
/************************************************/

h1.result, h1.login {

  color: $purple-dark;
  font-size: 1.3rem;

}

/************************************************/
/* Login                                        */
/************************************************/

.login_provider {

  text-align: center;

  a {

    text-decoration: none;

    img { width: 61.8%; }

    span {
    
      display: block;
      margin-top: 1em;
    
      &.facebook { color: $facebook; }
      &.google { color: $google; }
      &.twitter { color: $twitter; }
      &.yahoo { color: $yahoo; }

    }
 
  }

}

/************************************************/
/* Results                                      */
/************************************************/

form.result button {

  line-height: 35px;
  margin-top: 4em;
  padding: 0;
  width: 100%;

}

div.result {

  color: $black-layer-8;
  padding: 0;

  h2, p, ul, li {
    margin: 0;
  }

  li {
  }

  h2 {

    font-size: 1.2rem;
    line-height: 2.4rem;

    a { color: $purple-dark; }

  }

  p.location i,
  p.date i,
  p.deadline i {

    color: $green-dark;
    display: inline-block;
    font-size: 1.2rem;
    width: 18px;

  }

  p.location a { font-size: 0.8rem; }

  ul.keywords {

    margin-top: 1rem;
    padding-bottom: .5rem;
    font-size: .8rem;

    a {

      color: $green-dark;
      margin-right: 1rem;
      white-space: nowrap;

      i { display: inline; }

    }

  }

  div:last-child {

    a {

      background-color: $gray-medium;
      color: $gray-light;
      font-size: 1.2rem;
      line-height: 2rem;
      margin: .5rem .5rem 0 0;
      text-align: center;
      width: 2rem;
      @include border-radius(100px);
      @include transition(background-color 350ms);

      span { display: none; }

    }

  }

}

/************************************************/
/* Footer                                       */
/************************************************/

footer {

  color: $white;
  .small-2 p {  margin-bottom: .5rem; }
  h6, p, li { font-size: .8rem; }

  h6 {

    color: $white-layer-8;
    font-weight: bold;
    text-transform: uppercase;

  }

  li {

    i {

      font-size: 1.2rem;
      line-height: .8rem;
      color: $green-light;
      padding-right: .3rem;

    }

    a { color: $green-light; }


  }

}
