@import "colors";

/************************************************/
/* Navbar                                       */
/************************************************/

nav {

  div > ul {

    li:hover {

      background-color: $white-layer-1;

      a {

        color: $white;
        i { color: $green-dark; }

      }

      a:hover { text-decoration: none; }

    }

    .lang:hover {

      ul {

        display: block;

        li a {

            color: $white;
            span { color: $white-layer-4; }

        }

        li:hover {

          background-color: $white-layer-2;
          a span { color: $green-dark; }

        }

      }

    }

  }

}

/************************************************/
/* Autocompleter                                */
/************************************************/

.autocompleter-item:hover,
.autocompleter-item-selected {

  background-color: #c0ffee;
  color: $purple-dark;

}

.autocompleter-item strong {

  color: $purple-dark;
  font-weight: bold;
  text-decoration: underline;

}

/************************************************/
/* Results                                      */
/************************************************/

div.result {

  a:hover { text-decoration: none; }

  ul.keywords a:hover,
  p.location a:hover { color: $purple-dark; }

  div:last-child {

    a:hover {

      background-color: $purple-dark;
      color: $white;

    }

  }
}

/************************************************/
/* Tooltips                                     */
/************************************************/

.tooltipster-findaconf {

  background: $purple-dark;
  margin-top: -2rem;
  border-radius: 3px;

}

.tooltipster-findaconf .tooltipster-content {

  color: $white;
  font-size: .7rem;
  line-height: 1rem;
  padding: .4rem;

}

/************************************************/
/* Footer                                       */
/************************************************/

footer li a:hover {

  color: $white;
  text-decoration: none;
  i { color: $white; }

}
