/**********************************************************/
/* Color definition                                       */
/**********************************************************/

$green-dark    : #5ac1a9;
$green-medium  : #c6e3c0;
$green-light   : #c0ffee;

$purple-dark   : #4a1d4b;
$purple-medium : #e387b7;

$gray-dark     : #535353;
$gray-medium   : #c3c3c3;
$gray-light    : #efefef;

$white         : #fff;
$white-layer-1 : rgba(255, 255, 255, 0.1);
$white-layer-2 : rgba(255, 255, 255, 0.2);
$white-layer-3 : rgba(255, 255, 255, 0.3);
$white-layer-4 : rgba(255, 255, 255, 0.4);
$white-layer-8 : rgba(255, 255, 255, 0.8);

$black         : #000;
$black-layer-1 : rgba(0, 0, 0, 0.1);
$black-layer-2 : rgba(0, 0, 0, 0.2);
$black-layer-3 : rgba(0, 0, 0, 0.3);
$black-layer-4 : rgba(0, 0, 0, 0.4);
$black-layer-8 : rgba(0, 0, 0, 0.8);